<!DOCTYPE html>
<html class="chrometwo bootstrap3 next chrometwoComplete" ng-app="jbossdemocentral">
<head>
<link rel="stylesheet" type="text/css" media="all" href="gss_files/style.css">
<link rel="stylesheet" type="text/css" media="all" href="gss_files/bootstrap3_002.css">
<link rel="shortcut icon" href="https://access.redhat.com/webassets/avalon/g/favicon.ico">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/bootstrap-pieces.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/nav-main.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/header-graphics.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/boxes-columns.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/product-page.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/extra-icons.css">
<link rel="stylesheet" type="text/css" media="screen, print" href="gss_files/global.css">
<link rel="stylesheet" type="text/css" media="all" href="gss_files/bootstrap3_003.css">
<link rel="stylesheet" type="text/css" media="all" href="gss_files/labs.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>JBoss Demo Central</title>
</head>
<body class="chrometwo chrometwoComplete en loggedIn portal-labs">
	<div id="outer-wrapper" class="wrapo">
		<div id="wrapper" class="wrapo">
			<div class="wrapi" id="header-wrap">
				<div id="header">
					<div id="brand">
						<table>
							<tr>
								<td><a href="http://www.rehdat.com"><img alt="Red Hat logo" src="gss_files/logo_redhat-bk.png"></a></td>
								<td><a id="portalHome" title="Go to Customer Portal Home" href="">JBoss Demo Central</a></td>
							</tr>
						</table>
						
					</div>
					<!-- /brand -->
					<div class="clearWrap" id="navWrap">
						<div id="navPrimary" class="v2 navbar gradient" ng-controller="TabsCtrl">
							<div class="navbar-inner">
								<ul class="nav">
									<li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}"><a href="{{tab.url}}" ng-click="onClickTab(tab)">{{tab.title}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main-wrap" class="wrapu">
				<div class="wrapi">
					<div id="container" class="clearWrap" ng-view="">
						
					</div>
				</div>
			</div>

		</div>
	</div>
<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-cookies.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-resource.js"></script>
 
<script src="scripts/app.js"></script>
</body>
</html>