<div id="content" class="c-mF">
	<ul id="notices" class="message"></ul>
	<div id="main" style="visibility: visible;">
		<!-- Main area for content -->
		<h1>JBoss Data Grid Demos</h1>
		<p>Here you can find some of the demos and labs that are built for JBoss Data Grid</p>		
		<div class="row" ng-repeat="jdgdemo in demos track by jdgdemo.id" >
			<div class="app-block app-block-guided col-xs-12">
				<div class="content">
					<div class="row" >
						
						<h3>{{jdgdemo.name}}</h3>												
						<p>{{jdgdemo.description}}</p>
						<table>
						<tr>
							<td><b>Level: </b></td><td>{{jdgdemo.level}}</td>
						</tr>
						<tr>
							<td><b>Technologies(s):</b></td><td><span ng-repeat="technology in jdgdemo.technologies">{{technology}}, </span></td>
						</tr>
						<tr>
							<td><b>Product(s): </b></td><td>{{jdgdemo.targetProduct}}</td>
						</tr>
						<tr>
							<td><b>Author: </b></td><td>{{jdgdemo.author}}</td>
						</tr>
						</table>
						<a ng-href="{{link.url}}" ng-repeat="link in jdgdemo.links" >
							<button class="btn btn-primary next" style="left: 65%">{{link.name}}</button>
						</a> 
						<a ng-href="{{demo.html_url}}" >
							<button class="btn btn-primary next" style="left: 65%">Code</button>
						</a>
					</div>
					<br/>
				</div>
			</div>								
		</div>									
	</div>
</div>
		
