<div id="content" class="c-mF">
	<ul id="notices" class="message"></ul>
	<div id="main" style="visibility: visible;">
		<!-- Main area for content -->
		<h1>JBoss Enterprise Application Platform Demos</h1>
		<p>Here you can find demos and labs that are built for JBoss Enterprise Application Platform</p>		
		<div class="row" ng-repeat="demo in demos track by demo.id" >
			<div class="app-block app-block-guided col-xs-12">
				<div class="content">
					<div class="row" >					
						<h3>{{demo.name}}</h3>												
						<p>{{demo.description}}</p>
						<table>
						<tr>
							<td><b>Level: </b></td><td>{{demo.level}}</td>
						</tr>
						<tr>
							<td><b>Technologies(s):</b></td><td><span ng-repeat="technology in demo.technologies">{{technology}}, </span></td>
						</tr>
						<tr>
							<td><b>Product(s): </b></td><td>{{demo.targetProduct}}</td>
						</tr>
						<tr>
							<td><b>Prerequisites: </b></td><td>{{demo.prerequisites}}</td>
						</tr>
						<tr>
							<td><b>Author: </b></td><td>{{demo.author}}</td>
						</tr>
						</table>
						<a ng-href="{{link.url}}" ng-repeat="link in demo.links" >
							<button class="btn btn-primary next" style="left: 65%">{{link.name}}</button>
						</a> 
					</div>
				</div>
			</div>								
		</div>									
	</div>
</div>
		
