

<div id="content" class="c-mF">
	<ul id="notices" class="message"></ul>
	<div id="main" style="visibility: visible;">

		<div id="content-area">
			<div>
				<h1>Welcome to JBoss Demo Central</h1>
				<p class="exlainstyle">This is the central location for all
					public JBoss Demos. Please note that we are still under
					construction, expect more demos shortly.</p>

				<p class="exlainstyle">The maintainers of the JBoss Demo Central
					are:</p>

				<ul>
					<li>Thomas Qvarnström</li>
					<li>Kenny Peeples</li>
					<li><a href="http://schabell.org" target="_blank">Eric D. Schabell</a> - <a href="http://twitter.com/ericschabell" target="_blank">@ericschabell</a></li>
					<li>Christina Lin</li>
				</ul>

				<h2>Contribution</h2>
				<p class="exlainstyle">We are grateful for all the contribution
					that we can get. If you like to contribute to an existing demo
					project just fork it's repo and do a pull request, and if you want
					to contribute with your own demo contact us and we can either add
					you to the organization or create a new repo that you can fork and
					do pull requests to.</p>
			</div>
		</div>
	</div>
</div>

