

<div id="content" class="c-mF">
	<ul id="notices" class="message"></ul>
	<div id="main" style="visibility: visible;">

		<div id="content-area">
			<div>
				<h1>Welcome to JBoss Demo Central</h1>
				<p class="exlainstyle">This is the central location for all public JBoss Demos.</p>

				<p class="exlainstyle">The maintainers of the JBoss Demo Central are:</p>

				<ul>
					<li>Thomas Qvarnström</li>
					<li><a href="http://ossmentor.com" target="_blank">Kenny Peeples</a> - <a href="http://twitter.com/ossmentor" target="_blank">@ossmentor</a></li>
					<li><a href="http://schabell.org" target="_blank">Eric D. Schabell</a> - <a href="http://twitter.com/ericschabell" target="_blank">@ericschabell</a></li>
					<li><a href="http://wei-meilin.blogspot.de/" target="_blank">Christina Lin</a> - <a href="https://twitter.com/christina_wm" target="_blank">@christina_wm</a></li>
				</ul>

				<h2>Contribution</h2>
				<p class="exlainstyle">We are grateful for any and all contributions.
					If you would like to contribute to an existing demo
					project, just fork its repo and submit a pull request. If you want
					to contribute a demo of your own, contact any of the maintainers listed above.
				</p>
			</div>
		</div>
	</div>
</div>

